
/*-----------------[初始化]--------------*/
body{color: #444;font-size: 12px;line-height: 1.5;font-family:微软雅黑,"Microsoft Yahei","PingFangSC-Regular","PingFang Regular",sans-self;}
a{color: #444;}
a:hover{color: #f60;}
img{max-width: 100%;}
input,textarea,select{font-size: 12px;color: #444;
    font-family:微软雅黑,"Microsoft Yahei","PingFangSC-Regular","PingFang Regular",sans-self;outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
input[type='submit'],input[type='reset'],input[type='button'],select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type='submit'],input[type='reset'],input[type='button']{cursor: pointer;}
::-webkit-input-placeholder {color: #999;}
::-moz-placeholder {color: #999; }
::-ms-input-placeholder {color: #999;}

.ani{
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}

/*布局*/
.wp{width: 100%;max-width: 1200px;margin: 0 auto;}

/*******************************
  -------[=头部]-------
********************************/


/*******************************
    -------[=导航]-------
********************************/
.menuBtn{
    display: none;
    position: relative;z-index: 9;float: right;
    width: 30px;height: 30px;margin:20px 10px 0 0;cursor: pointer;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}
.menuBtn b{display: block;height: 4px;background-color: #083b6e;
    margin: 4px 0;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}
.menuBtn.open{}
.menuBtn.open b{display: none;margin: 0;position: absolute;left: 0px;top: 50%;margin-top: -5px;width: 30px;}
.menuBtn.open b:first-child{display: block;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
}
.menuBtn.open b:last-child{display: block;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
}

/*******************************
  -------[=banner]-------
*******************************/
#banner{height: 700px;overflow: hidden;position: relative;z-index: 1;}
#banner .slick-slider,#banner .slick-list,#banner .slick-track,#banner .slick-slide{height: 100%;}
#banner a{display: block;height: 100%;}
#banner .slick-slide{
    background-repeat: no-repeat;
    background-position: center center;
    -o-background-size: auto 100%;
    -ms-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
}

#banner .slick-next,#banner .slick-prev{
    position: absolute;top: 50%;margin-top: -25px;overflow: hidden;
    width: 45px;height: 50px;font-size: 0;line-height: 0;line-height: 999;
    background-repeat: no-repeat;
    background-position: center center;
    -o-background-size: auto 50px;
    -ms-background-size: auto 50px;
    -moz-background-size: auto 50px;
    -webkit-background-size: auto 50px;
    background-size: auto 50px;
}
#banner .slick-prev{left: 50%;margin-left: -645px;background-image: url(../images/arr-l.png);}
#banner .slick-next{right: 50%;margin-right: -645px;background-image: url(../images/arr-r.png);}

#banner .slick-dots{position: absolute;left: 0;bottom: 30px;width: 100%;text-align: center;z-index: 99;}
#banner .slick-dots li{display: inline-block;margin: 0 2px;}
#banner .slick-dots li a{display: block;width: 24px;height: 24px;
    font-size: 0;line-height: 0;text-indent: 999px;background-color: #fff;border-radius: 50%;
}
#banner .slick-dots li.slick-active a{background-color: #000;}


/*******************************
  -------[=底部]-------
********************************/

/*返回顶部*/
.toTop{position: fixed;bottom: 50px;left: 50%;margin-left: 512px;z-index: 9999;display: none;}
.toTop img{display: block;}

/*******************************
    -------[=正文]-------
********************************/




